.footer {
  background-color: #fff;
  border-top: 1px solid #d0d7de;
  display: flex;
  overflow: hidden;
  padding: 16px 80px;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    margin-top: -20px;
    padding: 16px;
  }
}
.footer-logo {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-logo span {
  color: #8b949e;
  font-size: 14px;
  margin-left: 16px;
}
.footer-logo svg {
  fill: #8b949e;
}
.footer-links ul {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  white-space: nowrap;
}
.footer-links ul a {
  color: var(--blue);
  font-size: 14px;
  font-weight: 300;
  margin-left: 16px;
  text-decoration: none;
}
