.filter-search {
  width: 100%;
}
.filter-search_input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292f;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  box-shadow: inset 0 1px 0 rgba(208, 215, 222, 0.2);
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: all;
  width: 100%;
}

.filter-flex_auto {
  flex: auto;
}

.select-type,
.select-language {
  border-radius: 6px;
  border: 1px solid #d0d7de;
  background: #f6f8fa;
  padding: 4px;
  margin-left: 16px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .select_mobile {
    margin-top: 6px;
  }
}
