header {
  background-color: #24292f;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 50px;
  color: #fff;
  /* padding: 20px 50px; */
  /* box-shadow: 0 1px 8px #ddd; */
}

@media only screen and (max-width: 1020px) {
  .menu-logo {
    margin: 10px 0;
  }
}

.menu-list {
  list-style: none;
  margin-bottom: 0;
}

@media only screen and (max-width: 1020px) {
  .menu-list {
    display: none;
  }
}

.menu-list .list-item {
  display: inline-block;
  padding: 10px;
}

.list-item_margin {
  margin-right: 16px;
}

@media only screen and (max-width: 1020px) {
  .list-item_margin {
    order: 3;
    margin-left: 16px;
  }
}

.list-item_btn {
  border: 1px solid #30363d;
  border-radius: 6px;
  padding: 4px 8px 4px 8px;
}

@media only screen and (max-width: 1020px) {
  .list-item_mobile {
    display: none;
  }
}

.search-input {
  background: inherit;
  border-radius: 6px;
  position: relative;
  padding: 5px 20px;
  font-size: 14px;
  border: 0;
  color: #fff;
}

@media only screen and (max-width: 1020px) {
  .search-input {
    display: none;
  }
}

.search-label {
  display: flex;
  align-items: center;
  background-color: inherit;
  border: 1px solid #30363d;
  border-radius: 6px;
}

.menu-list_link {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.menu-list_link:hover {
  color: #c9d1d9;
}

.menu-right {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu-burger {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
}

.menu-burger_icon {
  fill: #fff;
}

@media only screen and (min-width: 1020px) {
  .menu-burger {
    display: none;
  }
}
